<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Bears SPA</title>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.2/react.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/15.6.1/react-dom.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>

 <style type="text/css">
 html {
   padding: 25px;
 }
  .flex-container {
      display: -webkit-flex;
      display: flex;
      width: 600px;
      background-color: lightgrey;

  }
  #item-list {
      background-color: mintcream;
      width: 30%;
      padding: 0px 10px 0px 0px;
  }
  #item-details {
      background-color: #f0e3dc;
      width: 75%;
      padding: 10px;
  }
</style>


</head>

<body>
<div id="root"></div>

<!-- NOTE: script type declaration to support JSX -->
<script type="text/babel">

    // define overal app component
    class BearApp extends React.Component {
      constructor(props){
        super(props);
        // data from server 
        this.state = {
          items: {{{bears}}},
          filter: "", // search term 
          curItem: {} // current selected item
        };  
      
      // bind App context to functions used by child components
        this.onChange = this.onChange.bind(this);
      }

       // show item details when list item clicked
      showDetails(event){
        // event.target is item clicked. Assumes each item has an id attribute
        let beardetails = this.state.items.find((item) => {
          return item._id == event.target.id;
        });
        this.setState({curItem: beardetails});
      }
      
      // handle detail changes
      onChange(event) {
        var newItem = this.state.curItem;
        newItem[event.target.name] = event.target.value
        this.setState({curItem: newItem});
      }

      
      render() {
        // render app elements
        return (
          <div>
          <Title title="Bears" />
          <div className="flex-container">
            <ItemList
                items={this.state.items} 
                filter={this.state.filter}
                show={this.showDetails.bind(this)}
            />
            <ItemDetails item={this.state.curItem} change={this.onChange} />
            </div>
          </div>
        );
      }
          
    }
    
    // UI elements
    
    const Title = ({title}) => {
      return <div><h2>{title}</h2></div>;
    }
    
    const SearchForm = (props) => {
      return (
        <div>
        <input
          type="text" placeholder="bear search"
          value={props.filter}
          onChange={props.change}
        /><p/>
          </div>
        );
    }
    
    const ItemList = ({items, filter, show}) => {
      // generate array of item nodes
      const itemNodes = items.map((item) => {
        if (!filter || item.name.toLowerCase().includes(filter)) { 
          return <li id={item._id} key={item._id} onClick={show}>{item.name}</li>
        }
      });
      return <span id="item-list"><ul>{itemNodes}</ul></span>;
    }

    const ItemDetails = (props) => {
    return (
      <span id="item-details">
        <h2>Details:</h2>
    <li>name: { props.item.name }</li>
    <li>color: { props.item.color }</li>
    <li>type: { props.item.type }</li>
    </span>
    );
    }

    
    ReactDOM.render(<BearApp />, document.getElementById('root'));
</script>  

</body>
</html>