<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>home. </title>
    <script src="./lib/colors.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/mini.css">


</head>
  <body>
    <br>
    <header>
      <h1>COLORS</h1>
    </header>

<form action = "/detail" method = "POST">
         <p>search color: <input type = "text" name = "colorname"> </p>
         <input type = "submit" value = "Submit">
</form><br>

<form action = "/add" method = "POST">
         <p>add color: <input type = "text" name = "name"> </p>
         <p>add hex: <input type = "text" name = "hex"> </p>
         <p>add rgb: <input type = "text" name = "rgb"> </p>
         <input type = "submit" value = "Submit">
</form>

</body>
</html>